.conatiner {
  width: 70vw;
}

main {
  min-height: 80vh;
  width: 100vw;
}

.body {
  padding-top: 10vh;

  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}

.button_wrapper {
  position: relative;
  z-index: 1;
}

.other-content {
  position: relative;
  z-index: 2;
  background-color: red;
  padding: 10px;
}
